.container-busqueda{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin: 20px;
    
}
.container-padron >h2{

    color: var(--text-primary);
    font-weight: bold;
}
.container-btn{
    display: flex;
    gap: 15px;
}
.container-pdf{
    height: 30px;
    width: 30px;
    right: 2em;
    bottom: 0;
    position: absolute;
    
    >h4{
        color: var(--text-primary);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

}